@import "~bootstrap/scss/bootstrap.scss";

#toppole {
    width: 10px;
    height: 50px
}
#lightcontainer {
    width: 80px;
}
.light {
    width: 60px;
    height: 60px;
}
#redlight {
    background: red;
}
#yellowlight {
    background: yellow;
}
#greenlight {
    background: green;
}
.selected {
    box-shadow: #f8ffcc 0px 0px 50px 20px;
}